---
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bento Layout</title>
  </head>

  <body>
    <section class="bento">
      <div class="top">
        <div class="card weather">weather</div>
        <div class="card search">search</div>
      </div>
      <div class="second">
        <div class="card name">name</div>
        <div class="card pictures">pictures</div>
        <div class="card quotes">quote</div>
        <div class="card music">music</div>
    </div>
  </section>
  </body>
</html>
