---
---

<html>
<head>
<title>World Explorer</title>
<link rel="stylesheet" href="/styles.css">
</head>

<body>

<div class="searchBox">
<input id="cityInput" placeholder="Search city..." />
<div id="suggestions"></div>
</div>

<div class="bento">

<div class="box" id="weather"></div>

<div class="box">
<img id="scenicImg"/>
</div>

<div class="box" id="food"></div>

<div class="box" id="music"></div>

<div class="box" id="dress"></div>

<div class="box" id="country"></div>

</div>

<script src="/app.js"></script>

</body>
</html>