body{
font-family:sans-serif;
background:#111;
color:white;
transition:background 1s;
}

.bento{
display:grid;
grid-template-columns: repeat(3,1fr);
grid-auto-rows:200px;
gap:10px;
padding:20px;
}

.box{
background:rgba(255,255,255,0.1);
backdrop-filter: blur(10px);
border-radius:15px;
padding:15px;
}

.searchBox{
display:flex;
justify-content:center;
margin:20px;
}

input{
padding:10px;
width:300px;
}